
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title-XX印刷厂后台管理系统</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @{ string LoginUserGuid = Session["LoginId"] == null ? string.Empty : Session["LoginId"].ToString();}
    @{ string loginUserDisplayName = Session["LoginUserName"] == null ? string.Empty : Session["LoginUserName"].ToString();}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">印刷管理后台</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Dashborad4Manager","SystemOp")">控制台 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("MyInfo", "Person4Manager")">个人信息</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        人员管理
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@Url.Action("EmployeeInfo", "Person4Manager")">雇员管理</a>
                        <a class="dropdown-item" href="@Url.Action("CustomerInfo", "Person4Manager")">客户管理</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("StockManagement", "Manager")">库存管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("OrderManagement", "Manager")">订单管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("WorkflowManagement", "Manager")">工单处理</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        系统维护
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@Url.Action("UserGroupManager", "Account")">用户组管理</a>
                        <a class="dropdown-item" href="@Url.Action("ProductSet", "SystemOp")">产品管理</a>
                        <a class="dropdown-item" href="@Url.Action("SystemManager", "SystemOp")">系统管理</a>
                    </div>
                </li>
            </ul>
            <div class="text-hide" id="personid">@LoginUserGuid</div>
            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hi,亲爱的 @loginUserDisplayName!
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="@Url.Action("MyInfo","Person4Manager")">个人信息</a>
                    <a class="dropdown-item" href="@Url.Action("RecoverPassword","Account")">修改密码</a>
                    <a class="dropdown-item" href="@Url.Action("Login","Account")">退出</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $('.dropdown-toggle').dropdown();
    </script>
</body>
</html>
