@{
    Layout = "~/Views/Shared/_LayoutSysManager.cshtml";
    ViewBag.Title = "客户管理";
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>客户管理</title>
    <link rel="stylesheet" href="~/Content/Dashboradasset/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Dashboradasset/css/all.css">
</head>
<body>

    <div class="container-fluid mt-3 main">
        <div class="row mb-3">
            <div class="col-md-4">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div class="col-md-8 text-right my-2 my-lg-0">
                <button class="btn btn-primary" data-toggle="modal" data-target="#addModal" data-title="添加客户">
                    <fa class="fa fa-users"></fa>
                    添加客户
                </button>
            </div>
        </div>

        <table class="table table-responsive-md table-hover">
            <thead>
                <tr>
                    <th>客户编号</th>
                    <th>名称</th>
                    <th>联系人</th>
                    <th>电话</th>
                    <th>联系电话</th>
                    <th>地址</th>
                    <th class="text-center">操作</th>
                </tr>
            </thead>
            @{
                var list = ViewBag.CustomerList as List<Printery.Domain.ViewModel.CustomerViewModel>;
                if (list != null && list.Count > 0)
                {
                    <tbody>
                        @{
                            foreach (var item in list)
                            {
                                <tr>
                                    <td class="td1 guid">
                                        @Html.DisplayFor(modelitem => item.CustomerId)
                                    </td>
                                    <td class="td1">
                                        @Html.DisplayFor(modelitem => item.CustomerName)
                                    </td>
                                    <td class="td1">
                                        <a href="#">@Html.DisplayFor(modelitem => item.Contact)</a>
                                        <span class="badge badge-pill badge-danger">熟客</span>
                                    </td>
                                    <td class="td1">
                                        @Html.DisplayFor(modelitem => item.Phone)
                                    </td>
                                    <td class="td1">
                                        @Html.DisplayFor(modelitem => item.MobilePhone)
                                    </td>
                                    <td class="text-center td1">
                                        @Html.DisplayFor(modelitem => item.CAddress)
                                    </td>
                                    <td class="text-center">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="action">
                                            <button type="button" class="btn btn-outline-secondary editbtn">编辑</button>
                                            <button type="button" class="btn btn-outline-secondary delbtn">删除</button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                }

            }

        </table>

        @{

            if (list != null && list.Count > 0)
            {
                @Html.Partial("Pager")

            }
        }
    </div>

    <footer class="mt-5 py-3 bg-light text-secondary text-center">
        XX印刷厂管理系统
    </footer>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">名称:</label>
                            <input class="form-control" id="Cuname" type="text" placeholder="客户名称" aria-label="Search">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="firstName">联系人:</label>
                            <input class="form-control" id="Cucontact" type="text" placeholder="联系人名称" aria-label="Search">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">电话:</label>
                            <input class="form-control" id="Cuphone" type="text" placeholder="电话" aria-label="Search">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="firstName">手机:</label>
                            <input class="form-control" id="Cumobile" type="text" placeholder="手机" aria-label="Search">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">地址:</label>
                            <input class="form-control" id="Caddress" type="text" placeholder="地址" aria-label="Search">
                        </div>
                        <div class="col-md-6 mb-3">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="editCustomer()">保存</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="removeModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    确认删除该客户？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-outline-danger" onclick="delCustomer()">确定</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">添加客户</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">客户名称:</label>
                            <input class="form-control" id="Cuaname" type="text" placeholder="客户姓名" aria-label="Search">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">联系人:</label>
                            <input class="form-control" id="Cuacontact" type="text" placeholder="联系人姓名" aria-label="Search">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label>电话</label>
                            <input class="form-control" id="Cuaphone" type="text" placeholder="电话" aria-label="">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>联系人手机</label>
                            <input class="form-control" id="Cuamobile" type="text" placeholder="手机" aria-label="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label>地址</label>
                            <input class="form-control" id="Cuaaddress" type="text" placeholder="地址" aria-label="">
                        </div>
                        <div class="col-md-6 mb-3">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="addCustomer()">提交</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/Dashboradasset/js/jquery-3.2.1.slim.min.js"></script>
    <script src="~/Content/Dashboradasset/js/popper.min.js"></script>
    <script src="~/Content/Dashboradasset/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

        });
        function addCustomer() {
            var name = document.getElementById('Cuaname').value
            var contact = document.getElementById('Cuacontact').value
            var phone = document.getElementById('Cuaphone').value
            var mobile = document.getElementById('Cuamobile').value
            var address = document.getElementById('Cuaaddress').value
            var res = {
                "CustomerId": "",
                "CustomerName": name,
                "Contact": contact,
                "Phone": phone,
                "MobilePhone": mobile,
                "CAddress": address
            }
            $('#addModal').modal('hide')
            $(".modal-backdrop.fade").hide()
            $.ajax({
                type: "POST",
                url: "../Person4Manager/AddCustomer",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(res),

                success: function (e) {
                    debugger;
                    if (e != null)
                        alert("添加成功！")
                    location.reload()
                }

            })
        }
        function editCustomer() {
            var name = document.getElementById('Cuname').value
            var contact = document.getElementById('Cucontact').value
            var phone = document.getElementById('Cuphone').value
            var mobile = document.getElementById('Cumobile').value
            var address = document.getElementById('Caddress').value
            var id = document.getElementById('editModalLabel').innerText
            var res = {
                "CustomerId": id,
                "CustomerName": name,
                "Contact": contact,
                "Phone": phone,
                "MobilePhone": mobile,
                "CAddress": address
            }
            $('#editModal').modal('hide')
            $(".modal-backdrop.fade").hide()
            $.ajax({
                type: "POST",
                url: "../Person4Manager/EditCustomer",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(res),

                success: function (e) {
                    debugger;
                    if (e != null)
                        alert("修改成功！")
                    location.reload()
                }

            })
        }
        function delCustomer() {
            var id = document.getElementById('removeModalLabel').innerText
            $('#removeModal').modal('hide')
            $(".modal-backdrop.fade").hide()
            $.ajax({
                type: "POST",
                url: "../Person4Manager/DeleteCustomer",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(
                    { Cusguid: id }
                ),
                success: function (result) {
                    debugger;
                    if (result != null)
                        alert("删除成功！")
                    location.reload()
                }
            })
        }
        $(".editbtn").click(function () {
            debugger;
            var div = $(this).parent("div")
            var id = div.parent("td");
            var a = id.parent("tr");
            var c = a.find(".guid")
            var b = c.text();
            $("#editModalLabel").text(b);
            $('#editModal').modal('show');
        })
        $(".delbtn").click(function () {
            debugger;
            var div = $(this).parent("div")
            var id = div.parent("td");
            var a = id.parent("tr");
            var c = a.find(".guid")
            var b = c.text();
            $("#removeModalLabel").text(b);
            $('#removeModal').modal('show');
        })
    </script>
</body>
</html>