@{
    Layout = "~/Views/Shared/_LayoutSysManager.cshtml";
    ViewBag.Title = "客户管理";
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>客户管理</title>
    <link rel="stylesheet" href="~/Content/Dashboradasset/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Dashboradasset/css/all.css">
</head>
<body>

    <div class="container-fluid mt-3 main">
        <div class="row mb-3">
            <div class="col-md-4">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div class="col-md-8 text-right my-2 my-lg-0">
                <button class="btn btn-primary" data-toggle="modal" data-target="#editModal" data-title="快速下單">
                    <fa class="fa fa-shopping-cart"></fa>
                    添加客户
                </button>
            </div>
        </div>

        <table class="table table-responsive-md table-hover">
            <thead>
                <tr>
                    <th>客户编号</th>
                    <th>名称</th>
                    <th>联系人</th>
                    <th>电话</th>
                    <th>联系电话</th>
                    <th>地址</th>
                    <th class="text-center">操作</th>
                </tr>
            </thead>
            @{
                var list = ViewBag.CustomerList as List<Printery.Domain.ViewModel.CustomerViewModel>;
                if (list != null && list.Count > 0)
                {
                    <tbody>
                        @{
                            foreach (var item in list)
                            {
                                <tr>
                                    <td class="td1 guid">
                                        @Html.DisplayFor(modelitem => item.CustomerId)
                                    </td>
                                    <td class="td1">
                                        @Html.DisplayFor(modelitem => item.CustomerName)
                                    </td>
                                    <td class="td1">
                                        <a href="#">@Html.DisplayFor(modelitem => item.Contact)</a>
                                        <span class="badge badge-pill badge-danger">熟客</span>
                                    </td>
                                    <td class="td1">
                                        @Html.DisplayFor(modelitem => item.Phone)
                                    </td>
                                    <td class="td1">
                                        @Html.DisplayFor(modelitem => item.MobilePhone)
                                    </td>
                                    <td class="text-center td1">
                                        @Html.DisplayFor(modelitem => item.CAddress)
                                    </td>
                                    <td class="text-center">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="action">
                                            <button type="button" class="btn btn-outline-secondary ProOrderbtn">处理</button>
                                            <button type="button" class="btn btn-outline-secondary delbtn">删除</button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                }

            }

        </table>

        @{

            if (list != null && list.Count > 0)
            {
                @Html.Partial("Pager")

            }
        }
    </div>

    <footer class="mt-5 py-3 bg-light text-secondary text-center">
        XX印刷厂管理系统
    </footer>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="removeModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-danger">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/Dashboradasset/js/jquery-3.2.1.slim.min.js"></script>
    <script src="~/Content/Dashboradasset/js/popper.min.js"></script>
    <script src="~/Content/Dashboradasset/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $('#editModal').on('show.bs.modal', function (event) {
                var btn = $(event.relatedTarget);
                var title = btn.data('title');

                var modal = $(this);
                modal.find('.modal-title').text(title);
            });

            $('#removeModal').on('show.bs.modal', function (event) {
                var btn = $(event.relatedTarget);
                var title = btn.data('title');

                var modal = $(this);
                modal.find('.modal-title').text('確認刪除 ' + title);
            });
        });
    </script>
</body>
</html>