@{
    Layout = "~/Views/Shared/_LayoutSysManager.cshtml";
}
<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>雇员管理</title>
    <link rel="stylesheet" href="~/Content/Dashboradasset/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Dashboradasset/css/all.css">
</head>
<body>

    <div class="container-fluid mt-3 main">
        <div class="row mb-3">
            <div class="col-md-4">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div class="col-md-8 text-right my-2 my-lg-0">
                <button class="btn btn-primary" data-toggle="modal" data-target="#addModal" data-title="雇员基础信息">
                    <fa class="fa fa-users"></fa>
                    添加雇员
                </button>
            </div>
        </div>

        <table class="table table-responsive-md table-hover">
            <thead>
                <tr>
                    <th>雇员ID</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>民族</th>
                    <th>部门</th>
                    <th>用户组</th>
                    <th>状态</th>
                    <th class="text-center">操作</th>
                </tr>
            </thead>
            @{
                var list = ViewBag.EmployeeList as List<Printery.Domain.ViewModel.EmployeeViewModel>;
                if (list != null && list.Count > 0)
                {
                    <tbody>
                        @{
                            foreach (var item in list)
                            {
                                <tr>
                                    <td class="td1 guid">
                                        @Html.DisplayFor(modelitem => item.EmpId)
                                    </td>
                                    <td class="td1">
                                        @Html.DisplayFor(modelitem => item.Ename)
                                    </td>
                                    <td class="td1">
                                        @Html.DisplayFor(modelitem => item.Sex)
                                    </td>
                                    <td class="td1">
                                        @Html.DisplayFor(modelitem => item.Nation)
                                    </td>
                                    <td class="td1">
                                        @Html.DisplayFor(modelitem => item.Department)
                                    </td>
                                    <td class="td1">
                                        @Html.DisplayFor(modelitem => item.UserGroup)
                                    </td>
                                    <td class="td1">
                                        在职
                                    </td>
                                    <td class="text-center">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="action">
                                            <button type="button" class="btn btn-outline-secondary editbtn">编辑</button>
                                            <button type="button" class="btn btn-outline-secondary delbtn">删除</button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                }
            }
        </table>

        @{

            if (list != null && list.Count > 0)
            {
                @Html.Partial("Pager")

            }
        }
    </div>

    <footer class="mt-5 py-3 bg-light text-secondary text-center">
        XX印刷厂管理系统
    </footer>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">姓名:</label>
                            <input class="form-control" id="Edename" type="text" placeholder="真实姓名" aria-label="Search">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">性别:</label>
                            <select class="custom-select d-block w-100" id="Edsex" required="">
                                <option value="">选择性别</option>
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label>用户组</label>
                            <select class="custom-select d-block w-100" id="EdUsergroup" required="">
                                <option value="">选择用户组</option>
                                @{
                                    var uilist = ViewBag.EmpGroup as List<Printery.Domain.ViewModel.EmpGroupViewModel>;
                                    if (uilist != null && uilist.Count > 0)
                                    {
                                        foreach (var item in uilist)
                                        {
                                            <option value="@item.GroupName">
                                                @item.GroupName
                                            </option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>部门</label>
                            <select class="custom-select d-block w-100" id="Eddepartment" required="">
                                <option value="">选择部门</option>
                                @{
                                    var dilist = ViewBag.Department as List<Printery.Domain.ViewModel.DepartmentViewModel>;
                                    if (dilist != null && dilist.Count > 0)
                                    {
                                        foreach (var i in dilist)
                                        {
                                            <option value="@i.DepartmentName">
                                                @i.DepartmentName
                                            </option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="editEmployee()">保存</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">添加雇员</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">姓名:</label>
                            <input class="form-control" id="ename" type="text" placeholder="真实姓名" aria-label="Search">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">性别:</label>
                            <select class="custom-select d-block w-100" id="sex" required="">
                                <option value="">选择性别</option>
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label>用户名</label>
                            <input class="form-control" id="username" type="text" placeholder="用户名" aria-label="">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>密码</label>
                            <input class="form-control" id="pwd" type="password" placeholder="密码" aria-label="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label>用户组</label>
                                <select class="custom-select d-block w-100" id="Usergroup" required="">
                                    <option value="">选择用户组</option>
                                    @{ 
                                        var ulist = ViewBag.EmpGroup as List<Printery.Domain.ViewModel.EmpGroupViewModel>;
                                        if (ulist != null && ulist.Count > 0)
                                        {
                                            foreach(var item in ulist)
                                            {
                                                <option value="@item.GroupName">
                                                    @item.GroupName
                                                </option>
                                            }
                                        }
                                    }
                                </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>部门</label>
                            <select class="custom-select d-block w-100" id="department" required="">
                                <option value="">选择部门</option>
                                @{ 
                                    var dlist = ViewBag.Department as List<Printery.Domain.ViewModel.DepartmentViewModel>;
                                    if (dlist != null && dlist.Count > 0)
                                    {
                                        foreach(var i in dlist)
                                        {
                                            <option value="@i.DepartmentName">
                                                @i.DepartmentName
                                            </option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="addEmployee()">提交</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="removeModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   确定删除雇员？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-outline-danger" onclick="deletEmployee()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/Dashboradasset/js/jquery-3.2.1.slim.min.js"></script>
    <script src="~/Content/Dashboradasset/js/popper.min.js"></script>
    <script src="~/Content/Dashboradasset/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
        function addEmployee() {
            debugger;
            var ename = document.getElementById('ename').value
            var sex = document.getElementById('sex').value
            var username = document.getElementById('username').value
            var pwd = document.getElementById('pwd').value
            var userg = document.getElementById('Usergroup').value
            var depart = document.getElementById('department').value
            var result = {
                "EmpId": "",
                "UserName": username,
                "Password": pwd,
                "Sex": sex,
                "Nation": "",
                "Department": depart,
                "UserGroup": userg,
                "Phone": "",
                "QQ": "",
                "Ename": ename,
                "IDCardNum":""
            }
             $('#addModal').modal('hide')
            $(".modal-backdrop.fade").hide()
            $.ajax({
            type: "POST",
            url: "../Person4Manager/AddEmployee",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(result),

            success: function (e) {
                debugger;
                if (e != null)
                    alert(e)
                    location.reload()  
            }

        })
        }
        function editEmployee() {
            var name = document.getElementById('Edename').value
            var sex = document.getElementById('Edsex').value
            var userg = document.getElementById('EdUsergroup').value
            var dep = document.getElementById('Eddepartment').value
            var id = document.getElementById('editModalLabel').innerText
            var res = {
                "EmpId": id,
                "UserName": "",
                "Password": "",
                "Sex": sex,
                "Nation": "",
                "Department": dep,
                "UserGroup": userg,
                "Phone": "",
                "QQ": "",
                "Ename": name,
                "IDCardNum":""
            }
            $('#editModal').modal('hide')
            $(".modal-backdrop.fade").hide()
            $.ajax({
            type: "POST",
            url: "../Person4Manager/EditEmployee",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(res),

            success: function (e) {
                debugger;
                if (e != null)
                    alert(e)
                    location.reload()
            }

        })
        }
        function deletEmployee() {
            var id = document.getElementById('removeModalLabel').innerText
            $('#removeModal').modal('hide')
            $(".modal-backdrop.fade").hide()
            $.ajax({
            type: "POST",
            url: "../Person4Manager/DeleteEmployee",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(
                { empguid: id }
            ),
            success: function (result) {
                debugger;
                if (result != null)
                     alert(e)
                    location.reload()
                }
            })
        }
        $(".editbtn").click(function () {
            debugger;
            var div = $(this).parent("div")
            var id = div.parent("td");
            var a = id.parent("tr");
            var c = a.find(".guid")
            var b = c.text();
            $("#editModalLabel").text(b);
            $('#editModal').modal('show');
        })
        $(".delbtn").click(function () {
            debugger;
            var div = $(this).parent("div")
            var id = div.parent("td");
            var a = id.parent("tr");
            var c = a.find(".guid")
            var b = c.text();
            $("#removeModalLabel").text(b);
            $('#removeModal').modal('show');
        })
    </script>
</body>
</html>