@{
    Layout = "~/Views/Shared/_LayoutSysManager.cshtml";
    ViewBag.Title = "编辑个人信息";
}
@model Printery.Domain.ViewModel.EmployeeViewModel
<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人中心</title>
    <link rel="stylesheet" href="~/Content/Dashboradasset/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Dashboradasset/css/all.css">
    <link rel="stylesheet" href="~/Content/UserInfoAsset/form-validation.css">
</head>
<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="~/Content/imges/icon/logo.jpg" alt="" width="72" height="72">
            <h2>个人信息</h2>
            <p class="lead">用户个人信息</p>
        </div>
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col-md-12 order-md-1">
                    <h4 class="mb-3">个人信息</h4>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <form class="needs-validation" novalidate="">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">姓名</label>
                                @Html.TextBoxFor(model => model.Ename, htmlAttributes:new { @class="form-control"})
                                @Html.ValidationMessageFor(model => model.Ename, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName">性别</label>
                                @Html.TextBoxFor(model => model.Sex, htmlAttributes:new { @class="form-control"})
                                @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="username">民族</label>
                                @Html.TextBoxFor(model => model.Nation, htmlAttributes:new { @class="form-control"})
                                @Html.ValidationMessageFor(model => model.Nation, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="email">QQ <span class="text-muted">(Optional)</span></label>
                                @Html.TextBoxFor(model => model.QQ, htmlAttributes:new { @class="form-control"})
                                @Html.ValidationMessageFor(model => model.QQ, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="address">部门</label>
                                @Html.TextBoxFor(model => model.Department, htmlAttributes:new { @class="form-control",@readonly = "readonly"})
                                @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="address">电话</label>
                                @Html.TextBoxFor(model => model.Phone, htmlAttributes:new { @class="form-control"})
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="address2">用户组 <span class="text-muted">(Optional)</span></label>
                            @Html.TextBoxFor(model => model.UserGroup, htmlAttributes: new { @class = "form-control",@readonly = "readonly"})
                            @Html.ValidationMessageFor(model => model.UserGroup, "", new { @class = "text-danger" })
                        </div>

                        <div class="row">
                            <div class="col-md-5 mb-3">
                                <label>用户ID</label>
                                @Html.TextBoxFor(model => model.EmpId, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.EmpId, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4 mb-3">
                            </div>
                            <div class="col-md-3 mb-3">
                            </div>
                        </div>
                        <hr class="mb-4">

                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">完成编辑</button>
                    </form>
                </div>
            </div>
        }
    </div>

</body>
</html>