@{
    Layout = "~/Views/Shared/_LayoutSysManager.cshtml";
    ViewBag.Title = "用户组管理";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户组管理</title>
    <link rel="stylesheet" href="~/Content/Dashboradasset/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Dashboradasset/css/all.css">
</head>
<body>
    <div class="container-fluid mt-3 main">
        <div class="row mb-3">
            <div class="col-md-4">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div class="col-md-8 text-right my-2 my-lg-0">
                <button class="btn btn-primary" data-toggle="modal" data-target="#addModal" data-title="添加用户组">
                    <fa class="fa fa-users"></fa>
                    添加用户组
                </button>
            </div>
        </div>

        <table class="table table-responsive-md table-hover">
            <thead>
                <tr>
                    <th>用户组ID</th>
                    <th>用户组名称</th>
                    <th>备注</th>
                    <th class="text-center">操作</th>
                </tr>
            </thead>
            @{
                var list = ViewBag.EmpGroupList as List<Printery.Domain.ViewModel.EmpGroupViewModel>;
                if (list != null && list.Count > 0)
                {
                    <tbody>
                        @{
                            foreach (var item in list)
                            {
                                <tr>
                                    <td class="td1 guid">
                                        @Html.DisplayFor(modelitem => item.GroupId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelitem => item.GroupName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelitem => item.Tip)
                                    </td>
                                    <td class="text-center">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="action">
                                            <button type="button" class="btn btn-outline-secondary editbtn">编辑权限</button>
                                            <button type="button" class="btn btn-outline-secondary delbtn">删除用户组</button>
                                        </div>
                                    </td>
                                </tr>
                            }

                        }
                    </tbody>
                }

            }

        </table>
        @{

            if (list != null && list.Count > 0)
            {
                @Html.Partial("Pager")

            }
        }

    </div>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="removeModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h5>用户组id：</h5><h5 class="modal-title" id="editModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-responsive-md table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>权限id</th>
                                <th>权限名称</th>
                                <th class="text-center">备注</th>
                            </tr>
                        </thead>
                        @{
                            var powlist = ViewBag.PowerList as List<Printery.Domain.ViewModel.PowerListViewModel>;
                            if (powlist != null & powlist.Count > 0)
                            {
                                <tbody>
                                    @{
                                        foreach (var i in powlist)
                                        {
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="powerid" value="@i.PowerId">
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelitem => i.PowerId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelitem => i.PowerName)
                                                </td>
                                                <td class="text-center">
                                                    @Html.DisplayFor(modelitem => i.Tip)
                                                </td>
                                            </tr>
                                        }

                                    }
                                </tbody>
                            }

                        }
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-outline-danger" onclick="updatePowerlist()">保存</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">添加用户组</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>用户组名称</label>
                    <input type="text" name="InkName" id="grpName" class="form-control" required="" autofocus="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="addUserGroup()">提交</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="removeGroup" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title">移除用户组：</h5><h5 class="modal-title" id="removeGroupLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    确定移除该用户组？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-outline-danger" onclick="DelUserGroup()">确定</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="mt-5 py-3 bg-light text-secondary text-center">
        XX印刷厂管理系统
    </footer>
    <script src="~/Content/Dashboradasset/js/jquery-3.2.1.slim.min.js"></script>
    <script src="~/Content/Dashboradasset/js/popper.min.js"></script>
    <script src="~/Content/Dashboradasset/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(".editbtn").click(function () {
            debugger;
            var div = $(this).parent("div")
            var id = div.parent("td");
            var a = id.parent("tr");
            var c = a.find(".guid")
            var b = c.text();
            $("#editModalLabel").text(b);
            $("input[name='powerid']").attr("checked", false);;
            var id = document.getElementById('editModalLabel').innerText
            var res = {
                GroupId: id
            }
            $.ajax({
                type: "POST",
                url: "../Account/DisplayPowerList",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(res),

                success: function (result) {
                    if (result != null)
                        $.each(result, function (i, data) {
                            $("input[name='powerid'][value=" + data.PowerId + "]").attr("checked", "checked");
                        });
                    $('#editModal').modal('show');
                }

            })
        })
        $(".delbtn").click(function () {
            debugger;
            var div = $(this).parent("div")
            var id = div.parent("td");
            var a = id.parent("tr");
            var c = a.find(".guid")
            var b = c.text();
            $("#removeGroupLabel").text(b);
            $('#removeGroup').modal('show');
        })
        function updatePowerlist() {
            debugger;
            //获得所有复选框对象
            var checkBoxAll = $("input[name='powerid']");
            var id = document.getElementById('editModalLabel').innerText
            var re = [];
            for (var i = 0; i < checkBoxAll.length; i++) {
                if (checkBoxAll[i].checked) {
                    //console.log(checkBoxAll[i].value);
                    re.push({
                        "ControlId": "",
                        "PowerId": checkBoxAll[i].value,
                        "GroupId": id,
                    })
                }
            }
            $.ajax({
                type: "POST",
                url: "../Account/PowerListUpdate",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(re),

                success: function (e) {
                    debugger;
                    if (e != null)
                        alert("权限更新成功");
                    location.reload();
                }

            })
        }
        function addUserGroup() {
            debugger;
            var grpName = document.getElementById('grpName').value
            $.ajax({
                type: "POST",
                url: "../Account/AddGroup",
                data: JSON.stringify({
                    GroupName: grpName
                }),
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    if (result != null)
                        alert("添加成功！")
                    location.reload()
                }

            });
        }
        function DelUserGroup() {
            debugger;
            var Groupid = document.getElementById('removeGroupLabel').innerText
            $.ajax({
                type: "POST",
                url: "../Account/DeleteGroup",
                data: JSON.stringify({
                    GroupId: Groupid
                }),
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    if (result != null)
                        alert("成功！")
                    location.reload()
                }

            });
        }
    </script>
</body>
</html>
