@{
    ViewBag.Title = "订单管理";
    Layout = "~/Views/Shared/_LayoutSysManager.cshtml";
}
@model Printery.Domain.ViewModel.OrderViewModel
<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>订单管理后台</title>
    <link rel="stylesheet" href="~/Content/Dashboradasset/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Dashboradasset/css/all.css">
</head>
<body>

    <div class="container-fluid mt-3 main">
        <div class="row mb-3">
            <div class="col-md-4">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="订单ID" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div class="col-md-4">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2 col-md-2" type="search" placeholder="日期">
                    <span>~</span>
                    <input class="form-control mr-sm-2 col-md-2" type="search" placeholder="日期">
                </form>
            </div>
            <div class="col-md-4 text-right my-2 my-lg-0">
                <button class="btn btn-primary" data-toggle="modal" data-target="#addModal" data-title="新订单创建">
                    <fa class="fa fa-shopping-cart"></fa>
                    创建新订单
                </button>
            </div>
        </div>

        <table class="table table-responsive-md table-hover">

            <thead>
                <tr>
                    <th>订单号</th>
                    <th>截止日期</th>
                    <th>客户姓名</th>
                    <th>状态</th>
                    <th>电话</th>
                    <th class="text-center" width="120">总价</th>
                    <th class="text-center" width="120">创建时间</th>
                    <th class="text-center" width="120">处理时间</th>
                    <th class="text-center" width="150">创建人</th>
                </tr>
            </thead>
            @{
                var list = ViewBag.OrderList as List<Printery.Domain.ViewModel.OrderViewModel>;
                if (list != null && list.Count > 0)
                {
                    <tbody>
                        @{
                            foreach (var item in list)
                            {
                                <tr>
                                    <td class="td1 guid">
                                        @Html.DisplayFor(modelitem => item.OrderId)
                                    </td>
                                    <td class="td1">
                                        @Html.DisplayFor(modelitem => item.Deadline)
                                    </td>
                                    <td class="td1">
                                        <a href="#">@Html.DisplayFor(modelitem => item.CustomerName)</a>
                                        <span class="badge badge-pill badge-danger">熟客</span>
                                    </td>
                                    <td class="td1">
                                        @Html.DisplayFor(modelitem => item.Status)
                                    </td>
                                    <td class="td1">
                                        @Html.DisplayFor(modelitem => item.Phone)
                                    </td>
                                    <td class="text-center td1">
                                        @Html.DisplayFor(modelitem => item.Price)
                                    </td>
                                    <td class="text-center td1">
                                        @Html.DisplayFor(modelitem => item.OrderCreate)
                                    </td>
                                    <td class="text-center td1">
                                        @Html.DisplayFor(modelitem => item.OrderProcess)
                                    </td>
                                    <td class="text-center td1">
                                        @Html.DisplayFor(modelitem => item.CreatePersonId)
                                    </td>
                                    <td class="text-center">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="action">
                                            <button type="button" class="btn btn-outline-secondary editbtn">編輯</button>
                                            <button type="button" class="btn btn-outline-secondary delbtn">删除</button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                }
            }
        </table>
        @{

            if (list != null && list.Count > 0)
            {
                @Html.Partial("Pager")

            }
        }

    </div>

    <footer class="mt-5 py-3 bg-light text-secondary text-center">
        XX印刷厂管理系统
    </footer>

    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label>名称</label>
                            <input type="text" class="form-control" id="CustomerName" placeholder="输入客户名称" value="" required="">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">联系人</label>
                            <input type="text" class="form-control" id="Contact" placeholder="输入联系人姓名" value="" required="">
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label>产品</label>
                            <select class="custom-select d-block w-100" id="Product" required="">
                                <option value="">选择产品</option>
                                @{
                                    var ProductList = ViewBag.ProductList as List<Printery.Domain.ViewModel.ProductGoodsViewModel>;
                                    if (ProductList != null && ProductList.Count > 0)
                                    {
                                        foreach (var item in ProductList)
                                        {
                                            <option value="@item.ProductName">
                                                @item.ProductName
                                            </option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>数量</label>
                            <input type="number" name="CCount" id="CCount" class='form-control input-sm' min='1' value='1' />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label>单价</label>
                            <select class="custom-select d-block w-100" id="eachPrice" required="required">
                            </select>
                            <div class="invalid-feedback">
                                选择单价
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>备注</label>
                            <input type="text" class="form-control" id="tips" placeholder="输入备注（可选）" value="" required="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label>送货地址</label>
                            <input type="text" class="form-control" id="address" placeholder="输入地址" value="" required="">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>联系电话</label>
                            <input type="text" class="form-control" id="phone" placeholder="输入电话" value="" required="">
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label>希望到货日期</label>
                            <input type="text" class="form-control" id="deadline" placeholder="输入日期" value="" required="">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>电子邮箱</label>
                            <input type="text" class="form-control" id="emailc" placeholder="输入电子邮箱" value="" required="">
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="addOrder()">提交</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="removeModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h5>订单号：</h5><h5 class="modal-title" id="editModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label>地址：</label>
                            <input type="text" class="form-control" id="edaddress" placeholder="输入新地址" value="" required="">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Phone</label>
                            <input type="text" class="form-control" id="edphone" placeholder="输入电话" value="" required="">
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-6 mb-3">
                                <label>Email</label>
                                <input type="text" class="form-control" id="edemail" placeholder="输入电子邮箱" value="" required="">
                            </div>
                        <div class="col-md-6 mb-3">
                            <label>联系人</label>
                            <input type="text" class="form-control" id="edcontact" placeholder="输入联系人" value="" required="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label>备注</label>
                            <input type="text" class="form-control" id="edtips" placeholder="输入备注（可选）" value="" required="">
                        </div>
                        <div class="col-md-6 mb-3">
                            
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-outline-danger" onclick="editorder()">保存</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ViewModal" tabindex="-1" role="dialog" aria-labelledby="ViewModalModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title" id="viewmodeltitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label>客户名称:</label>
                            <label id="cuName"></label>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>地址:</label>
                            <label id="cuAddress"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label>Email:</label>
                            <label id="cuEmail"></label>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>联系人:</label>
                            <label id="cuContact"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label>商品名称:</label>
                            <label id="cuProduct"></label>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label></label>
                            <label></label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="removeorder">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    确认删除该订单？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-outline-danger" onclick="deletOrder()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/Dashboradasset/js/jquery-3.2.1.slim.min.js"></script>
    <script src="~/Content/Dashboradasset/js/popper.min.js"></script>
    <script src="~/Content/Dashboradasset/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $('#editModal').on('show.bs.modal', function (event) {
                //var btn = $(event.relatedTarget);
                //var title = btn.data('title');

                //var modal = $(this);
                //modal.find('.modal-title').text(title);
            });
            $('#addModal').on('show.bs.modal', function (event) {
                var btn = $(event.relatedTarget);
                var title = btn.data('title');

                var modal = $(this);
                modal.find('.modal-title').text(title);
            });
            $('#ViewModal').on('show.bs.modal', function (event) {
                var btn = $(event.relatedTarget);
                //var title = btn.data('title');

                //var modal = $(this);
                //modal.find('.modal-title').text(title);
            });

            $('#removeModal').on('show.bs.modal', function (event) {
                //var btn = $(event.relatedTarget);
                //var title = btn.data('title');

                //var modal = $(this);
                //modal.find('.modal-title').text('确认删除 ' + title);
            });
        });
        function deletOrder() {
            debugger;
            var orderid = document.getElementById('removeorder').innerText
            $('#removeModal').modal('hide')
            $(".modal-backdrop.fade").hide()
            $.ajax({
            type: "POST",
            url: "../Manager/DeleteOrder",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(
                { orderguid: orderid }
            ),
            success: function (result) {
                debugger;
                if (result != null)
                     alert("删除成功！")
                    location.reload()
            }
        })
        }
        function editorder() {
            debugger;
            var orderid = document.getElementById('editModalLabel').innerText
            var address = document.getElementById('edaddress').value
            var phone = document.getElementById('edphone').value
            var email = document.getElementById('edemail').value
            var contact = document.getElementById('edcontact').value
            var tips = document.getElementById('edtips').value
            var result = {
                "OrderId": orderid,
                "OrderCreate": "",
                "OrderProcess": "",
                "Price": "",
                "Deadline": "",
                "tips": tips,
                "CreatePersonId": "",
                "ProcessPersonId": "",
                "Status": "",
                "CustomerId": "",
                "CustomerName": "",
                "Addressed": address,
                "Phone": phone,
                "Email": email,
                "Contact": contact,
                "ProductName":""
            }
            $('#editModal').modal('hide')
            $(".modal-backdrop.fade").hide()
            $.ajax({
            type: "POST",
            url: "../Manager/EditOrder",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(result),

            success: function (e) {
                debugger;
                if (e != null)
                    alert("修改成功！")
                    location.reload()
            }

        })
        }
        function addOrder() {
            debugger;
            eachPrice = document.getElementById('eachPrice').value
            count = document.getElementById('CCount').value
            var price = eachPrice * count
            var tips = document.getElementById('tips').value
            var cretepersonid = document.getElementById('personid').innerText;
            var customername = document.getElementById('CustomerName').value
            var contact = document.getElementById('Contact').value
            var address = document.getElementById('address').value
            var phone = document.getElementById('phone').value
            var deadline = document.getElementById('deadline').value
            var email = document.getElementById('emailc').value
            var result = {
                "OrderId": "",
                "OrderCreate": "",
                "OrderProcess": "",
                "Price": price,
                "Deadline": deadline,
                "tips": tips,
                "CreatePersonId": cretepersonid,
                "ProcessPersonId": "",
                "Status": "",
                "CustomerId": "",
                "CustomerName": customername,
                "Addressed": address,
                "Phone": phone,
                "Email": email,
                "Contact": contact,
                "ProductName":$('#Product').val()
            }
            $('#addModal').modal('hide')
            $(".modal-backdrop.fade").hide()
        $.ajax({
            type: "POST",
            url: "../Manager/AddOrder",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(result),

            success: function (e) {
                debugger;
                if (e != null)
                    alert("添加成功！")
                    location.reload()  
            }

        })
        }
         $(document).ready(function () {
        $("#Product").change(function () {
            var ddlprice = $("#eachPrice");
            //debugger;

            $.ajax({
                type: "POST",
                url: "../Manager/GetPriceList",
                data: JSON.stringify({
                    pri: $('#Product').val()
                }),
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    //debugger;
                    var html = "<option value=''>--选择单价--</option>";
                    ddlprice.html("");
                    $.each(result, function (i, data) {
                        html += "<option value=" + data.eachPrice + ">" + data.eachPrice + "</option>";
                    });
                    ddlprice.append(html);
                }
            });
        })
    })

        $(".td1").click(function () {
        debugger;
        var id = $(this).parent("tr");
        var a = id.find(".guid");
        var b = a.text();
        $("#ctbody1").find('tr').empty();
        $.ajax({
            type: "POST",
            url: "../Manager/GetOrder",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(
                { orderguid: b }
            ),

            success: function (result) {
                debugger;
                if (result != null)
                    $("#viewmodeltitle").text("订单号："+b);
                    $.each(result, function (i, data) {
                        $("#cuName").text(data.CustomerName);
                        $("#cuAddress").text(data.Addressed);
                        $("#cuEmail").text(data.Email);
                        $("#cuContact").text(data.Contact);
                        $("#cuProduct").text(data.ProductName);
                    });
                $('#ViewModal').modal('show');
            }
        })
    });

        $(".editbtn").click(function () {
            debugger;
            var div = $(this).parent("div")
            var id = div.parent("td");
            var a = id.parent("tr");
            var c = a.find(".guid")
            var b = c.text();
            $("#editModalLabel").text(b);
            $('#editModal').modal('show');
        })
        $(".delbtn").click(function () {
            debugger;
            var div = $(this).parent("div")
            var id = div.parent("td");
            var a = id.parent("tr");
            var c = a.find(".guid")
            var b = c.text();
            $("#removeorder").text(b);
            $('#removeModal').modal('show');
        })
    </script>
</body>
</html>