@{
    ViewBag.Title = "订单管理";
    Layout = "~/Views/Shared/_LayoutSysManager.cshtml";
}
@model Printery.Domain.ViewModel.OrderViewModel
<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>订单管理后台</title>
    <link rel="stylesheet" href="~/Content/Dashboradasset/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Dashboradasset/css/all.css">
</head>
<body>

    <div class="container-fluid mt-3 main">
        <div class="row mb-3">
            <div class="col-md-4">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="订单ID" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div class="col-md-4">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2 col-md-2" type="search" placeholder="日期">
                    <span>~</span>
                    <input class="form-control mr-sm-2 col-md-2" type="search" placeholder="日期">
                </form>
            </div>
            <div class="col-md-4 text-right my-2 my-lg-0">
                <button class="btn btn-primary" data-toggle="modal" data-target="#editModal" data-title="新订单创建">
                    <fa class="fa fa-shopping-cart"></fa>
                    创建新订单
                </button>
            </div>
        </div>

        <table class="table table-responsive-md table-hover">
            @*<tr>
            <td>1</td>
            <td><a href="#">《西游记第x版》</a></td>
            <td>
                Mark
                <span class="badge badge-pill badge-danger">奧客</span>
            </td>
            <td>Mark@mail.com</td>
            <td>已出货</td>
            <td class="text-center">NT$ 899</td>
            <td class="text-center">
                <div class="input-group">
                    <input type='number' class='form-control input-sm' min='1' id='c"+i+"' value='1' />
                </div>
            </td>
            <td class="text-center">NT$ 899</td>
            <td class="text-center">
                <div class="btn-group btn-group-sm" role="group" aria-label="action">
                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#editModal" data-title="編輯 超纖細肥皂 1盒" data-backdrop="static">編輯</button>
                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#editModal" data-title="订单编号：12321421321" data-backdrop="static">查看</button>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ...
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Other action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#" data-toggle="modal" data-target="#removeModal" data-title="超纖細肥皂 1盒">刪除</a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>*@
            <thead>
                <tr>
                    <th>订单号</th>
                    <th>截止日期</th>
                    <th>客户姓名</th>
                    <th>状态</th>
                    <th>电话</th>
                    <th class="text-center" width="120">总价</th>
                    <th class="text-center" width="120">创建时间</th>
                    <th class="text-center" width="120">处理时间</th>
                    <th class="text-center" width="150">创建人</th>
                </tr>
            </thead>
            @{
                var list = ViewBag.OrderList as List<Printery.Domain.ViewModel.OrderViewModel>;
                if (list != null && list.Count > 0)
                {
                    <tbody>
                        @{
                            foreach (var item in list)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelitem => item.OrderId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelitem => item.Deadline)
                                    </td>
                                    <td>
                                        <a href="#">@Html.DisplayFor(modelitem => item.CustomerName)</a>
                                        <span class="badge badge-pill badge-danger">熟客</span>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelitem => item.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelitem => item.Phone)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelitem => item.Price)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelitem => item.OrderCreate)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelitem => item.OrderProcess)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelitem => item.CreatePersonId)
                                    </td>
                                    <td class="text-center">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="action">
                                            <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#editModal" data-title="編輯 超纖細肥皂 1盒" data-backdrop="static">編輯</button>
                                            <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#editModal" data-title="订单编号：12321421321" data-backdrop="static">查看</button>
                                            <div class="btn-group" role="group">
                                                <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    ...
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Other action</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item text-danger" href="#" data-toggle="modal" data-target="#removeModal" data-title="超纖細肥皂 1盒">刪除</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                }
            }
        </table>
        @{

            if (list != null && list.Count > 0)
            {
                @Html.Partial("Pager")

            }
        }
       
    </div>

    <footer class="mt-5 py-3 bg-light text-secondary text-center">
        XX印刷厂管理系统
    </footer>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>客户姓名</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="removeModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-danger">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/Dashboradasset/js/jquery-3.2.1.slim.min.js"></script>
    <script src="~/Content/Dashboradasset/js/popper.min.js"></script>
    <script src="~/Content/Dashboradasset/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $('#editModal').on('show.bs.modal', function (event) {
                var btn = $(event.relatedTarget);
                var title = btn.data('title');

                var modal = $(this);
                modal.find('.modal-title').text(title);
            });

            $('#removeModal').on('show.bs.modal', function (event) {
                var btn = $(event.relatedTarget);
                var title = btn.data('title');

                var modal = $(this);
                modal.find('.modal-title').text('确认删除 ' + title);
            });
        });
    </script>
</body>
</html>