@{
    ViewBag.Title = "样品管理";
    Layout = "~/Views/Shared/_LayoutSysManager.cshtml";
}
@model Printery.Domain.ViewModel.ProductsViewModel
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/Content/Dashboradasset/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Dashboradasset/css/all.css">
</head>
<body>

    <div class="container-fluid mt-3 main">
        <div class="row mb-3">
            <div class="col-md-4">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div class="col-md-6 text-right my-2 my-lg-0">
                <button class="btn btn-primary" data-toggle="modal" data-target="#addModal" data-title="加入新产品">
                    <fa class="fa fa-shopping-cart"></fa>
                    加入新产品
                </button>
            </div>
            <div class="col-md-2 text-right my-2 my-lg-0">
                <button class="btn btn-primary" data-toggle="modal" data-target="#editModal" data-title="产品生产工单">
                    <fa class="fa fa-shopping-cart"></fa>
                    生产产品
                </button>
            </div>
        </div>

        <table class="table table-responsive-md table-hover">
            <thead>
                <tr>
                    <th>产品编号</th>
                    <th>产品名称</th>
                    <th>单价</th>
                    <th>库存数</th>
                    <th>状态</th>
                    <th class="text-center" width="150">操作</th>
                </tr>
            </thead>
            @{
                var list = ViewBag.ProductList as List<Printery.Domain.ViewModel.ProductsViewModel>;
                if (list != null && list.Count > 0)
                {
                    <tbody>
                        @{
                            foreach (var item in list)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelitem => item.ProductID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelitem => item.ProductName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelitem => item.eachPrice)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelitem => item.CCOunt)
                                    </td>
                                    <td>
                                        正常
                                    </td>
                                    <td class="text-center">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="action">
                                            <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#editModal" data-title="編輯 超纖細肥皂 1盒" data-backdrop="static">編輯</button>
                                            <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#editModal" data-title="订单编号：12321421321" data-backdrop="static">查看</button>
                                            <div class="btn-group" role="group">
                                                <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    ...
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Other action</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item text-danger" href="#" data-toggle="modal" data-target="#removeModal" data-title="超纖細肥皂 1盒">刪除</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                }
            }

        </table>

        @{

            if (list != null && list.Count > 0)
            {
                @Html.Partial("Pager")

            }
        }
    </div>

    <footer class="mt-5 py-3 bg-light text-secondary text-center">
        XX印刷厂管理系统
    </footer>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>产品名称</label>
                    <select id="PInkName" data-toggle="select" class="form-control select select-default" name="PInkName">
                        <option value="default" selected="selected">--请选择要生产的产品--</option>
                    </select>
                    <label>生产数量</label>
                    <input type="number" name="PCcount" id="PCcount" class='form-control input-sm' min='1' value='1' />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-outline-danger">提交</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>产品名称</label>
                    <input type="text" name="ProductName" id="ProductName" class="form-control" required="" autofocus="">
                    <label>单价</label>
                    <input type="number" name="eachPrice" id="eachPrice" class='form-control input-sm' min='1' value='1'/>
                    <label>库存数</label>
                    <input type="number" name="CCount" id="CCount" class='form-control input-sm' min='1' value='1' />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="addProduct()">提交</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="removeModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>产品名称</label>
                    <select id="PInkName" data-toggle="select" class="form-control select select-default" name="PInkName">
                        <option value="default" selected="selected">--请选择要生产的产品--</option>
                    </select>
                    <label>生产数量</label>
                    <input type="number" name="PCcount" id="PCcount" class='form-control input-sm' min='1' value='1' />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-outline-danger">提交</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/Dashboradasset/js/jquery-3.2.1.slim.min.js"></script>
    <script src="~/Content/Dashboradasset/js/popper.min.js"></script>
    <script src="~/Content/Dashboradasset/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $('#editModal').on('show.bs.modal', function (event) {
                var btn = $(event.relatedTarget);
                var title = btn.data('title');

                var modal = $(this);
                modal.find('.modal-title').text(title);
            });

            $('#addModal').on('show.bs.modal', function (event) {
                var btn = $(event.relatedTarget);
                var title = btn.data('title');

                var modal = $(this);
                modal.find('.modal-title').text(title);
            });

            $('#removeModal').on('show.bs.modal', function (event) {
                var btn = $(event.relatedTarget);
                var title = btn.data('title');

                var modal = $(this);
                modal.find('.modal-title').text('确认删除 ' + title);
            });
        });

        function addProduct() {
            debugger;
            
            var pname = document.getElementById('ProductName').value
            var pprice = document.getElementById('eachPrice').value
            var pcount=document.getElementById('CCount').value
            var result = {
                "ProductID": "",
                "ProductName": pname,
                "eachPrice": pprice,
                "CCount": pcount
            }
            $('#addModal').modal('hide')
            $(".modal-backdrop.fade").hide()
        $.ajax({
            type: "POST",
            url: "../Manager/AddProduct",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(result),

            success: function (e) {
                debugger;
                if (e != null)
                    alert("添加成功！")
                    location.reload()  
            }

        })
    }
    </script>
</body>
</html>
