@{
    ViewBag.Title = "样品管理";
    Layout = "~/Views/Shared/_LayoutSysManager.cshtml";
}
@model Printery.Domain.ViewModel.ProductGoodsViewModel
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/Content/Dashboradasset/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Dashboradasset/css/all.css">
</head>
<body>

    <div class="container-fluid mt-3 main">
        <div class="row mb-3">
            <div class="col-md-4">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div class="col-md-6 text-right my-2 my-lg-0">
                <button class="btn btn-primary" data-toggle="modal" data-target="#addModal" data-title="加入新产品">
                    <fa class="fa fa-shopping-cart"></fa>
                    加入新产品
                </button>
            </div>
            <div class="col-md-2 text-right my-2 my-lg-0">
                <button class="btn btn-primary" data-toggle="modal" data-target="#ProductModal" data-title="产品生产工单">
                    <fa class="fa fa-shopping-cart"></fa>
                    生产产品
                </button>
            </div>
        </div>

        <table class="table table-responsive-md table-hover">
            <thead>
                <tr>
                    <th>产品编号</th>
                    <th>产品名称</th>
                    <th>单价</th>
                    <th>库存数</th>
                    <th>状态</th>
                    <th class="text-center" width="150">操作</th>
                </tr>
            </thead>
            @{
                var list = ViewBag.ProductList as List<Printery.Domain.ViewModel.ProductGoodsViewModel>;
                if (list != null && list.Count > 0)
                {
                    <tbody>
                        @{
                            foreach (var item in list)
                            {
                                <tr>
                                    <td class="td1 guid">
                                        @Html.DisplayFor(modelitem => item.ProductID)
                                    </td>
                                    <td class="td1">
                                        @Html.DisplayFor(modelitem => item.ProductName)
                                    </td>
                                    <td class="td1">
                                        @Html.DisplayFor(modelitem => item.eachPrice)
                                    </td>
                                    <td class="td1">
                                        @Html.DisplayFor(modelitem => item.CCOunt)
                                    </td>
                                    <td class="td1">
                                        正常
                                    </td>
                                    <td class="text-center">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="action">
                                            <button type="button" class="btn btn-outline-secondary editbtn">编辑</button>
                                            <button type="button" class="btn btn-outline-secondary delbtn">删除</button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                }
            }

        </table>

        @{

            if (list != null && list.Count > 0)
            {
                @Html.Partial("Pager")

            }
        }
    </div>

    <footer class="mt-5 py-3 bg-light text-secondary text-center">
        XX印刷厂管理系统
    </footer>

    <div class="modal fade" id="ProductModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>产品名称</label>
                    <select id="ProName" data-toggle="select" class="form-control select select-default" name="PInkName">
                        <option value="default" selected="selected">--请选择要生产的产品--</option>
                        @{
                            var ProductList = ViewBag.ProductList as List<Printery.Domain.ViewModel.ProductGoodsViewModel>;
                            if (ProductList != null && ProductList.Count > 0)
                            {
                                foreach (var item in ProductList)
                                {
                                    <option value="@item.ProductName">
                                        @item.ProductName
                                    </option>
                                }
                            }
                        }
                    </select>
                    <label>生产数量</label>
                    <input type="number" name="PrCcount" id="ProCcount" class='form-control input-sm' min='1' value='1' />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-outline-danger" onclick="CreateProductPurchase()">提交</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>产品名称</label>
                    <input type="text" name="ProductName" id="ProductName" class="form-control" required="" autofocus="">
                    <label>单价</label>
                    <input type="number" name="eachPrice" id="eachPrice" class='form-control input-sm' min='1' value='1' />
                    <label>库存数</label>
                    <input type="number" name="CCount" id="CCount" class='form-control input-sm' min='1' value='1' />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="addProduct()">提交</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editproductModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label>产品名称:</label>
                            <input class="form-control" id="eproname" type="text" placeholder="产品名称" aria-label="Search">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>单价:</label>
                            <input type="number" id="eproeach" class='form-control input-sm' min='1' value='1' />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="editProduct()">保存</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="removeModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                </div>
                <div class="modal-body">   
                    确定删除这个产品？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-outline-danger" onclick="delProduct()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/Dashboradasset/js/jquery-3.2.1.slim.min.js"></script>
    <script src="~/Content/Dashboradasset/js/popper.min.js"></script>
    <script src="~/Content/Dashboradasset/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $('#ProductModal').on('show.bs.modal', function (event) {
                var btn = $(event.relatedTarget);
                var title = btn.data('title');

                var modal = $(this);
                modal.find('.modal-title').text(title);
            });

            $('#addModal').on('show.bs.modal', function (event) {
                var btn = $(event.relatedTarget);
                var title = btn.data('title');

                var modal = $(this);
                modal.find('.modal-title').text(title);
            });

            //$('#removeModal').on('show.bs.modal', function (event) {
            //    var btn = $(event.relatedTarget);
            //    var title = btn.data('title');

            //    var modal = $(this);
            //    modal.find('.modal-title').text('确认删除 ' + title);
            //});
        });
        $(".editbtn").click(function () {
            debugger;
            var div = $(this).parent("div")
            var id = div.parent("td");
            var a = id.parent("tr");
            var c = a.find(".guid")
            var b = c.text();
            $("#editproductModalLabel").text(b);
            $('#editModal').modal('show');
        })
        $(".delbtn").click(function () {
            debugger;
            var div = $(this).parent("div")
            var id = div.parent("td");
            var a = id.parent("tr");
            var c = a.find(".guid")
            var b = c.text();
            $("#removeModalLabel").text(b);
            $('#removeModal').modal('show');
        })
        function editProduct() {
            var id = document.getElementById('editproductModalLabel').innerText
            var name = document.getElementById('eproname').value
            var each = document.getElementById('eproeach').value
            var result = {
                "ProductID": id,
                "ProductName": name,
                "eachPrice": each,
                "CCount": 0
            }
            $('#editModal').modal('hide')
            $(".modal-backdrop.fade").hide()
            $.ajax({
                type: "POST",
                url: "../Manager/editProduct",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(result),

                success: function (e) {
                    debugger;
                    if (e != null)
                        alert(e)
                    location.reload()
                }

            })

        }
        function delProduct() {
            var id = document.getElementById('removeModalLabel').innerText
            $('#removeModal').modal('hide')
            $(".modal-backdrop.fade").hide()
            $.ajax({
                type: "POST",
                url: "../Manager/deleteProduct",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(
                    { productid: id }
                ),
                success: function (result) {
                    debugger;
                    if (result != null)
                        alert(result)
                    location.reload()
                }
            })
        }
        function addProduct() {
            debugger;

            var pname = document.getElementById('ProductName').value
            var pprice = document.getElementById('eachPrice').value
            var pcount = document.getElementById('CCount').value
            var result = {
                "ProductID": "",
                "ProductName": pname,
                "eachPrice": pprice,
                "CCount": pcount
            }
            $('#addModal').modal('hide')
            $(".modal-backdrop.fade").hide()
            $.ajax({
                type: "POST",
                url: "../Manager/AddProduct",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(result),

                success: function (e) {
                    debugger;
                    if (e != null)
                        alert(e)
                    location.reload()
                }

            })
        }
        function CreateProductPurchase() {
            var pname = document.getElementById('ProName').value
            var pcount = document.getElementById('ProCcount').value
            var Createpersonid = document.getElementById('personid').innerText;
            var result = {
                "PurchasingID": "",
                "ProductId": "",
                "ProductName": pname,
                "Count": pcount,
                "Price": 0,
                "CreatePersonId": Createpersonid,
                "ProcessPersonId": Createpersonid,
                "Status": "待处理",
                "CreateDate": "",
                "ProcessDate": ""
            }
            $('#ProductModal').modal('hide')
            $(".modal-backdrop.fade").hide()
            $.ajax({
                type: "POST",
                url: "../Manager/PurchasingProduct",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(result),

                success: function (e) {
                    debugger;
                    if (e != null)
                        alert(e)
                    location.reload()
                }

            })
        }
    </script>
</body>
</html>
